Repository HopeyCodeDS/bandit-games-ml-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_prediction_api, build_stats_api, build_stats_db, build_analytics_consumer

build_prediction_api:
  stage: build
  script:
  - docker build -t $PREDICTION_IMAGE:$CI_COMMIT_SHA -f PredictionSystem/Dockerfile PredictionSystem
  - docker tag $PREDICTION_IMAGE:$CI_COMMIT_SHA $PREDICTION_IMAGE:latest
  - docker push $PREDICTION_IMAGE:$CI_COMMIT_SHA
  - docker push $PREDICTION_IMAGE:latest

build_stats_api:
  stage: build
  script:
  - docker build -t $STATS_API_IMAGE:$CI_COMMIT_SHA -f GameAnalytics/Dockerfile GameAnalytics
  - docker tag $STATS_API_IMAGE:$CI_COMMIT_SHA $STATS_API_IMAGE:latest
  - docker push $STATS_API_IMAGE:$CI_COMMIT_SHA
  - docker push $STATS_API_IMAGE:latest

build_stats_db:
  stage: build
  script:
  - docker build -t $STATS_DB_IMAGE:$CI_COMMIT_SHA -f game_analytics_docker/Dockerfile game_analytics_docker
  - docker tag $STATS_DB_IMAGE:$CI_COMMIT_SHA $STATS_DB_IMAGE:latest
  - docker push $STATS_DB_IMAGE:$CI_COMMIT_SHA
  - docker push $STATS_DB_IMAGE:latest

build_analytics_consumer:
  stage: build
  script:
  - docker build -t $ANALYTICS_CONSUMER_IMAGE:$CI_COMMIT_SHA -f communication/Dockerfile communication
  - docker tag $ANALYTICS_CONSUMER_IMAGE:$CI_COMMIT_SHA $ANALYTICS_CONSUMER_IMAGE:latest
  - docker push $ANALYTICS_CONSUMER_IMAGE:$CI_COMMIT_SHA
  ...

Refactors GitLab CI configuration to create a production-specific Docker Compose file and deploy to Azure, also adds echo statement for deployment URL.
  .gitlab-ci.yml
Due: build_prediction_api, build_stats_api, build_stats_db, build_analytics_consumer

Add debugging information and error handling to GitLab CI/CD pipeline tasks for Azure deployment.
  .gitlab-ci.yml
Due: build_prediction_api, build_stats_api, build_stats_db, build_analytics_consumer

Simplify .gitlab-ci.yml by consolidating change paths to 'main' and refine echo messages for deployment verification.
  .gitlab-ci.yml
Due: build_prediction_api, build_stats_api, build_stats_db, build_analytics_consumer

Refactor GitLab CI configuration for cleaner deployment to Azure and enhanced Docker build process.
  .gitlab-ci.yml
Due: build_prediction_api, build_stats_api, build_stats_db, build_analytics_consumer

Refactor image names in .gitlab-ci.yml to use DOCKER_HUB_USER variable for consistency.
  .gitlab-ci.yml
Due: build_prediction_api, build_stats_api, build_stats_db, build_analytics_consumer

Add new origin 'https://mango-sky-053dae803.4.azurestaticapps.net/' to the CORS policy in unified_prediction_api.py.
  PredictionSystem/unified_prediction_api.py
Due: build_prediction_api

Add Azure static apps URL to player_statistics_API_new.py.
  GameAnalytics/player_statistics_API_new.py
Due: build_stats_api

Improve error handling and logging for Docker Hub, Azure login, and container group deployment in GitLab CI pipeline.
  .gitlab-ci.yml
Due: build_prediction_api, build_stats_api, build_stats_db, build_analytics_consumer

Remove test_publish.py as it's no longer necessary.
  rabbitMQConfig/test_publish.py
Due: none

Refactor docker and azure login steps and update container group deployment in .gitlab-ci.yml.
  .gitlab-ci.yml
Due: build_prediction_api, build_stats_api, build_stats_db, build_analytics_consumer

Refactor GitLab CI configuration to utilize YAML anchors for build stages and remove unnecessary comments.
  .gitlab-ci.yml
Due: build_prediction_api, build_stats_api, build_stats_db, build_analytics_consumer

Add new Azure static web app URL to unified_prediction_api.py.
  PredictionSystem/unified_prediction_api.py
Due: build_prediction_api

Add Azure static web app URL to player statistics and unified prediction APIs.
  GameAnalytics/player_statistics_API_new.py
Due: build_stats_api

Add Azure login and resource group creation steps to GitLab CI/CD pipeline
  .gitlab-ci.yml
Due: build_prediction_api, build_stats_api, build_stats_db, build_analytics_consumer

Add container group deployment step to GitLab CI config.
  .gitlab-ci.yml
Due: build_prediction_api, build_stats_api, build_stats_db, build_analytics_consumer

Add memory and CPU specifications to GitLab CI configuration.
  .gitlab-ci.yml
Due: build_prediction_api, build_stats_api, build_stats_db, build_analytics_consumer

Add Docker Hub login credentials in .gitlab-ci.yml for pulling images and updating registry.
  .gitlab-ci.yml
Due: build_prediction_api, build_stats_api, build_stats_db, build_analytics_consumer

Refactor Docker login in GitLab CI configuration to use password from stdin for improved security.
  .gitlab-ci.yml
Due: build_prediction_api, build_stats_api, build_stats_db, build_analytics_consumer

Remove Docker Hub login credentials from .gitlab-ci.yml file.
  .gitlab-ci.yml
Due: build_prediction_api, build_stats_api, build_stats_db, build_analytics_consumer

Refactor Azure login and resource group creation in GitLab CI configuration.
  .gitlab-ci.yml
Due: build_prediction_api, build_stats_api, build_stats_db, build_analytics_consumer

Add Azure credentials to GitLab CI/CD variables and comment out all docker push and tag commands.
  .gitlab-ci.yml
Due: build_prediction_api, build_stats_api, build_stats_db, build_analytics_consumer

Refactor GitLab CI configuration to define and deploy container group via JSON file instead of individual commands.
  .gitlab-ci.yml
Due: build_prediction_api, build_stats_api, build_stats_db, build_analytics_consumer

Refactor GitLab CI configuration to simplify Azure container deployment and remove Docker login steps.
  .gitlab-ci.yml
Due: build_prediction_api, build_stats_api, build_stats_db, build_analytics_consumer

Add echo commands for AZURE_SP_ID and AZURE_TENANT_ID in .gitlab-ci.yml.
  .gitlab-ci.yml
Due: build_prediction_api, build_stats_api, build_stats_db, build_analytics_consumer

Update .gitlab-ci.yml to improve debug messages and handle Azure login failure.
  .gitlab-ci.yml
Due: build_prediction_api, build_stats_api, build_stats_db, build_analytics_consumer

Relocate debugging environment variables and hide Azure service principal password in GitLab CI configuration.
  .gitlab-ci.yml
Due: build_prediction_api, build_stats_api, build_stats_db, build_analytics_consumer

Remove Azure credentials from .gitlab-ci.yml and update to check if they are set.
  .gitlab-ci.yml
Due: build_prediction_api, build_stats_api, build_stats_db, build_analytics_consumer

Add container names for stats-db, stats-api, prediction-api, and analytics-consumer in GitLab CI configuration.
  .gitlab-ci.yml
Due: build_prediction_api, build_stats_api, build_stats_db, build_analytics_consumer

Adds new compose.yml for managing multi-container Docker applications.
  compose.yml
Due: none

Remove individual container names in favor of multi-container configuration in GitLab CI configuration.
  .gitlab-ci.yml
Due: build_prediction_api, build_stats_api, build_stats_db, build_analytics_consumer

Upgrade Docker Compose version to '3.8', adjust ports and environment variables for database and RabbitMQ connection, and define default network in compose.yml.
  compose.yml
Due: none

Simplify deployment process by using ACI Compose file in .gitlab-ci.yml.
  .gitlab-ci.yml
Due: build_prediction_api, build_stats_api, build_stats_db, build_analytics_consumer

Remove unused 'game-analytics-platform' parameter from .gitlab-ci.yml configuration.
  .gitlab-ci.yml
Due: build_prediction_api, build_stats_api, build_stats_db, build_analytics_consumer

Add 'game-analytics-platform' as a name parameter in .gitlab-ci.yml configuration file.
  .gitlab-ci.yml
Due: build_prediction_api, build_stats_api, build_stats_db, build_analytics_consumer

Update .gitlab-ci.yml to consolidate docker compose file reference.
  .gitlab-ci.yml
Due: build_prediction_api, build_stats_api, build_stats_db, build_analytics_consumer

Add name parameter to game-analytics-platform in .gitlab-ci.yml file.
  .gitlab-ci.yml
Due: build_prediction_api, build_stats_api, build_stats_db, build_analytics_consumer

Update deployment process from ACI Compose to Azure Resource Manager (ARM) template in GitLab CI/CD pipeline.
  .gitlab-ci.yml
Due: build_prediction_api, build_stats_api, build_stats_db, build_analytics_consumer

Add new docker-compose.arm.json file for ARM architecture support.
  docker-compose.arm.json
Due: none

Path conditions:
  build_prediction_api: any of: PredictionSystem/**/*, .gitlab-ci.yml
  build_stats_api: any of: GameAnalytics/**/*, .gitlab-ci.yml
  build_stats_db: any of: game_analytics_docker/**/*, .gitlab-ci.yml
  build_analytics_consumer: any of: communication/**/*, .gitlab-ci.yml
